/*Creando los estilos para cada caja y clase*/
div {
  border: 5px blue white;
  display: inline-block;
  width: 250px;
  height:300px;
  margin: 5px;
  background:whitesmoke;
  box-sizing: border-box;

}

p {
  color:dimgray;
  text-align:center;
}

.titulo {
  font-family: 'Merriweather ', serif;
  font-size: 26px;

}

.sub {
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
  text-align:center;

}

.text {
  font-family: 'Alegreya', serif;
  font-size: 14px;

}

.titulo1 {
  font-family: 'Merriweather ', serif;
  font-size: 26px;
  color:lightsteelblue;
}

.text1 {
  font-family: 'Alegreya', serif;
  font-size: 14px;
  color:lightsteelblue;
}

.sub1 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
  text-align:center;
  color:lightsteelblue;
}
